@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@font-face {
    font-family: "Atmostphere";
    src: url("css/fonts/Harabara.eot");
    src: 
    url("../css/fonts/atmosphere-regular-webfont.woff") format("woff"),
    url("../css/fonts/atmosphere-regular-webfont.otf") format("opentype"),
    url("../css/fonts/Atmosphere-Regular.svg#filename") format("svg");
    }


body {
    overflow-x: hidden;
    font-family: "Avenir Next", sans-serif !important;
    background-image: url('../images/startBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    -webkit-transition-timing-function: background 1.5s linear;
    transition: background 1s linear;
}

.vnTxt {
    width: 1320px;
    height: auto;
    position: relative;
    margin: 200px auto 0 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10px;
}

h4#disc {
    font-size: 15px;
    color: #fff;
    letter-spacing: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 2.5em;
    margin: 25px auto 0px 25px;
  
}


#box {
    width: 150px;
    height: 450px;
    border: solid 1.5px #fff;
    position: absolute;
    margin: auto;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;

}


h4#start{
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 3em;
    top: 97%;
    left: 48.5%;
    position: absolute;
    -ms-transform: translate(-48%, -48%);
    transform: translate(-48%, -48%);

}


h1#vn {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Atmostphere', Arial, sans-serif;
    letter-spacing: 1.2em;
    font-size: 100px;
    color: #FF8C22;
    position: absolute;
    margin: 160px auto 0 -412px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
}

br.test {
    display: none;
}

.fa-play {
    color: #FF8C22;
    /* color: #FEE098; */
    animation: pulse2 .4s infinite;
    cursor: pointer!important;
}



@keyframes pulse2 {
	0% { transform: scale(1) rotate(90deg); }
	35% { transform: scale(1.5) rotate(90deg); }
	100% { transform: scale(1) rotate(90deg); }
	}


/* ================== question section ============== */

#questionDisplay, #answerDisplay {
    width: auto;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 50px;
    opacity: 0.2;

};

p.multiChoice::after {
    padding: 10px 0;
    border: solid 1px #333!important; 
}

h1.countDown {
    color: #FF8C22;
    font-weight: 600;
    margin-top: 15px;
}

.abcd {
    color: #FF8C22;
    font-weight: bold;
    padding-bottom: 5px;
}


/* ================== answer section ============== */


h3#rightOrWrong {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding-left:20px;
    padding-top: 100px;
   
}

p#correctAns {
    letter-spacing: 0.7em;
    line-height: 3em;
    padding-left:30px;
    padding-top: 90px;
}

.questionNum {
    padding-top: 115px;
}


/*-------------MEDIA QUERIES-------------*/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    
        
    }
    
    
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
    
     
    }
    
    
    /* Small Devices, Tablets */	
    @media only screen and (max-width: 767px) {
        h1#vn {
            font-size: 35px!important;
            letter-spacing: 0.5em!important;
            line-height: 80px!important;
            margin: 150px auto 0 15px!important;
            text-align: center!important;
            color:#FF8C22;

        }

        .fa-play {
            color: #FF8C22;
           
        }


        #questionDisplay {
            width: auto;
            position: relative!important;
            padding: 100px 10px!important;
            margin: auto 20px auto 0px!important;
        }


        #timeSection{
            margin-top: -320px!important;
            
        }

        h4#question {
            margin-bottom: 200px!important;
        }

        .countDown {
            margin-top: -260px!important;
            margin-left:-30px!important;
        }

        p.test{
            margin-top:-35px;
        }

        div.test2{
            margin-top:40px!important;
        }
        
    
    
    }
    
    
    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        h1#vn {
            font-size: 80px;
            line-height: 80px;
            margin: 160px auto 0 -310px;

        }

        /* ================== answer section ============== */
          h3#rightOrWrong, p#correctAns, .questionNum {
            margin-top:-40px;
            padding-left:0px!important;
            text-align: center!important;
        }

        #answerDisplay {
            position: relative!important;
            padding: 50px 0px!important;
            
        }

        #imgage-holder {
            margin-top:30px;
        }
        

    
    }
    
    
    /* Custome screen */ 
    @media only screen and (max-width: 1074px) {
        p#correctAns {
            letter-spacing: 0.5em;
        }
        h3#rightOrWrong{
            font-size:20px;
        }
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (max-width: 1200px) {
        p#correctAns {
            padding-top: 50px!important;
        }

        h3#rightOrWrong {
            letter-spacing: 2.1px!important;
            padding-top: 60px!important;
        }

        .questionNum {
            padding-top: 80px!important;
        }

      
      
    }





